<div class="forgot-password-container">
    <mat-card>
      <mat-card-title>Forgot Password</mat-card-title>
      <mat-card-content>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" placeholder="Enter your email">
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit" [disabled]="!forgotPasswordForm.valid">Reset Password</button>
        </form>
        <p *ngIf="resetMessage" class="reset-message">{{ resetMessage }}</p>
        <a mat-button routerLink="../login">Back to Login</a>
      </mat-card-content>
    </mat-card>
  </div>
  