.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  mat-card {
    width: 400px;
    text-align: center;
    padding: 20px;
  }
  
  mat-card-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  