.sidebar-header {
    padding: 2px 4px;
    display: flex;
    gap: 8px;
  }
  
  .sidebar-header img {
    height: 100%;
  }
  
  .sidebar-header p {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.71px;
    color: #E8E7F0;
    margin: 0;
  }
  